# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
backend.hcl
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda deployment package
lambda_function.zip

